.w3-bar-item {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 33%;
  height: 10vh;
  line-height: 1vh;
}

.bar-left {
  width: 26.66% !important;
}

.bar-middle {
  width: 46.66% !important;
}

.bar-right {
  width: 26.66% !important;
}