.btn {
  font-size: 12px;
}

#btn-private, #qsLoginBtn, #qsLogoutBtn, #BkBtn {
  background-color: rgb(222, 103, 0);
  border-color: rgb(222, 103, 0);
  color: rgb(255, 255, 255);
  line-height: 3vh;
}

.btn-satel {
  height: 5vh;
  width: 8vw;
  margin-right: 1vw;
  line-height: 3vh;
}

#BkBtn {
  width: 6vw;
  height: 4vh;
}