.info-container {
  margin-top:6vh;
  height: 100%;
}

#infoTitle {
  font-style: oblique;
  font-size: 5vh;
  padding-bottom: 2vh;
  width: 100%;
  margin-bottom: 3vh;
}

#infoText {
  font-style: oblique;
  width: 100%;
}